@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<AppUser>

<head>
      <style>
        .custom {
            margin: 4px 5px;
        }

        .customizedLayout{
            margin-left: 260px; 
            padding: 20px;
            width: calc(100% - 260px); 
            overflow-x: hidden;
        }
    </style>
</head>





    <div class="customizedLayout container text-light">
    @{
        if (TempData["message"] != null)
        {
             <div class="alert alert-success">
                @TempData["message"]
             </div>
        }
    }
        <h1 class="fw-bold my-5">Users List</h1>

        <table class="table table-dark table-striped table-hover border-dark">
            <thead class="border">
                <tr>
                    <th scope="col" class="px-5">User ID</th>
                    <th scope="col">User Name</th>
                    <th scope="col" ></th>
                </tr>
            </thead>
            <tbody>
            @{
                // for loop to show users dynamically
                foreach (var user in Model)
                {
                    <tr>
                  
                        <th scope="row" class="px-5">@user.Id</th><!--User ID-->
                        <td>@user.UserName</td><!--User Name-->
                        <td>
                           <form action="/User/Delete" method="post" >
                                <input type="hidden" name="userId" value="@user.Id">
                               <button type="submit" class="custom btn btn-outline-success btn-sm" >Remove</button>
                           </form>

                        </td>
                    </tr>
                }
               
            }

              
            </tbody>
        </table>
    </div>
